/* Custom Scrollbar for History */
.history-container::-webkit-scrollbar {
  width: 4px;
}

.history-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.history-container::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}

.text-truncate {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}